<div class="container grid-lg ">
    <div class="columns text-center flex-centered">
        <div class="column col-lg-4 col-md-12 ">
            <ul class="nav m-2 ">

                <li class="nav-item">
                    <div class="dropdown"><a class="btn btn-link dropdown-toggle text-light" tabindex="0">Critiques</a>
                        <ul class="menu">
                            <li class="menu-item"><a href="/critic/interstellar">Interstellar</a></li>
                            <li class="menu-item"><a href="/critic/parasite">Parasite</a></li>
                            <li class="menu-item"><a href="/critic/the_dark_knight">The Dark Knight</a></li>
                            <li class="menu-item"><a href="/critic/the_shawshank_redemption">The Shawshank Redemption</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item ">
                    <a href="/app/#/movies" class="text-light">Films</a>
                </li>
                <li class="nav-item">
                    <a href="/app/#/persons" class="text-light">Célébrités</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="text-light">À Propos</a>
                </li>
            </ul>
        </div>
        <div class="column col-lg-4 col-md-12">
            Site de recommandation de film en fonction de préference cinématographique
        </div>
        <div class="column col-lg-4 col-md-12">
            On regarde Quoi - Tout droit réservé © Copyright 2019
        </div>
    </div>
</div>
