<div class="container grid-lg">
    <div class="columns text-center">
        <div class="column col-lg-4 col-md-12">
            <dl>
                <dd><a>Film</a></dd>
                <dd><a>Célébrités</a></dd>
                <dd><a href="/about">À propos</a></dd>
            </dl>
        </div>
        <div class="column col-lg-4 col-md-12 vertical-align">
            <p>Site de recommandation de film en fonction de préference cinématographique</p>
        </div>
        <div class="column col-lg-4 col-md-12 vertical-align">
            <p>On regarde Quoi - Tout droit réservé © Copyright 2019</p>
        </div>
    </div>

</div>