<div class="navbar container grid-xl text-bold">
    <section class="navbar-section">
        <a href="/" class="mr-4">
            <img src="/assets/img/logo-min.png" class="p-centered" alt="On regarde Quoi">
        </a>

        <a href="#" class="nav-title hide-md"> <i class="icon icon-arrow-right mr-1"></i>Films</a>
        <a href="#" class="nav-title hide-md"><i class="icon icon-arrow-right mr-1"></i>Célébrités</a>
        <a href="/about" class="nav-title hide-md"><i class="icon icon-arrow-right mr-1"></i>À propos</a>
    </section>


    <section class="navbar-section hide-lg">
        <a href="#" class="nav-title">Connexion</a>
        <a href="#" class="red-btn-rounded text-light">Inscription</a>
    </section>

</div>

