<div class="navbar container grid-lg text-bold" >
    <section class="navbar-section img-section">
        <a href="/" >
            <img src="/assets/img/logo-min.png" class="p-centered" alt="On regarde Quoi">
        </a>
    </section>

    <section class="navbar-center hide-sm">
        <a href="/app/#/movies" class="nav-title"> <i class="icon icon-arrow-right mr-1"></i>Films</a>
        <a href="/app/#/persons" class="nav-title"><i class="icon icon-arrow-right mr-1"></i>Célébrités</a>
        <a href="/about/" class="nav-title"><i class="icon icon-arrow-right mr-1"></i>À propos</a>
        <div class="dropdown">
            <a class="btn btn-link dropdown-toggle nav-title pl-0" tabindex="0">
                <i class="icon icon-arrow-right mr-1"></i>Critiques
            </a>
            <ul class="menu text-dark">
                <li class="menu-item"><a href="/critic/interstellar">Interstellar</a></li>
                <li class="menu-item"><a href="/critic/parasite">Parasite</a></li>
                <li class="menu-item"><a href="/critic/the_dark_knight">The Dark Knight</a></li>
                <li class="menu-item"><a href="/critic/the_shawshank_redemption">The Shawshank Redemption</a></li>
            </ul>
        </div>
    </section>


    <section class="navbar-section hide-lg" >
        <a href="/sign-in/" class="nav-title">Connexion</a>
        <a href="/sign-up/" class="red-btn-rounded text-light">Inscription</a>
    </section>

</div>

