<div class="navbar container grid-lg text-bold" >
    <section class="navbar-section img-section">
        <a href="/" >
            <img src="/assets/img/logo-min.png" class="p-centered" alt="On regarde Quoi">
        </a>
    </section>

    <section class="navbar-center hide-sm">
        <a href="/app/#/movies" class="nav-title"> <i class="icon icon-arrow-right mr-1"></i>Films</a>
        <a href="/app/#/persons" class="nav-title"><i class="icon icon-arrow-right mr-1"></i>Célébrités</a>
        <a href="/about" class="nav-title"><i class="icon icon-arrow-right mr-1"></i>À propos</a>
    </section>


    <section class="navbar-section hide-lg" >
        <a href="#" class="nav-title">Connexion</a>
        <a href="#" class="red-btn-rounded text-light">Inscription</a>
    </section>

</div>

