<!DOCTYPE html>
<html lang="fr">

<head>
    % include('template/base/head.html')
</head>

<body>

<header class="banner-header">
    % include('template/base/header.html')


    <div class="text-light ">
        <h1 class="text-center title">
            Trouver un film facilement et rapidement à voir.
        </h1>
        <div class="container grid-xl">
            <h2 class="text-center subtitle">
                On Regarde Quoi est un site de recommandation de films personnalisées totalement gratuit et sans
                inscription. L’ algorithme utilise des techniques d'intelligence artificielle pour trouver des films qui
                vous correspondent parmi une base de données de plus de 6000 éléments.
            </h2>
        </div>

        <h3 class="text-center subtitle">
            <a href="#" class="red-btn-rounded text-light hide-lg">
                Silence, Moteur, ça Tourne, Action !
            </a>
            <a href="#" class="red-btn-rounded text-light show-lg">
                Silence, Moteur, Action !
            </a>
        </h3>
    </div>
</header>

<div class="banner-0">
    <div class="text-center pb-2">
        <img src="/static/img/icon/popcorn.png" alt="popcorn">
    </div>

    <div class="container grid-lg mt-2">
        <blockquote>
            <h4 class="text-justify">
                Vous en avez marre de regarder des nanars. D’entendre sans cesse les mêmes dialogues. Des blockbusters
                stupides et sans intérêt. Vous êtes passionné de cinéma ou bien un cinéphile du dimanche. On regarde
                quoi va vous permettre de trouver votre bonheur.
            </h4>
        </blockquote>
    </div>
</div>


<div class="banner-1">
    <div class="columns col-gapless text-img">
        <div class="column col-md-12 col-6">
            <h4>La première étape consiste à sélectionner vos films favoris</h4>
            <ul>
                <li>Vous pouvez trier les résulats ou faire une recherche</li>
                <li>Il vous suffit de cliquer sur une image pour faire apparaitre les informations</li>
                <li>Vous pouvez voir la fiche complète et l'ajoutez à votre sélection</li>
            </ul>
        </div>
        <div class="column">col-6</div>
    </div>

    <div class="columns col-gapless text-img">
        <div class="column col-md-12 col-6">col-6</div>
        <div class="column">
            <h4>En fonction de votre liste, On Regarde Quoi vous proposent des recommandations personnalisées</h4>
            <ul>
                <li>
                    Valider votre liste pour continuer. Pas d'inquiétude, il est possible de la modifier par la suite
                </li>
                <li>
                    Pour chaque film, vous disposez d'une liste de recommandation
                </li>
            </ul>
        </div>
    </div>

    <div class="columns col-gapless text-img">
        <div class="column col-md-12 col-6">
            <h4>Chaque film dispose d’une fiche détaillée contenant: </h4>
            <ul>
                <li>
                    Les caractéristiques générales du film comme le réalisateur, les acteurs principaux, date de sortie
                    ...
                </li>
                <li>
                    Leur disponibilité sur les plateformes de streaming ou de locations
                </li>
                <li>
                    La bande-annonce, synopsie et des critiques de spectateurs
                </li>
            </ul>
        </div>
        <div class="column">col-6</div>
    </div>
</div>

<div class="banner-0">
    <div class="container grid-xl">
        <h3>Comment ça marche ?</h3>
        <p>
            C'est très simple, totalement gratuit et il n'est pas nécessaire de s’inscrire. Vous devez tout d'abord
            sélectionner vos films favoris. Chaque film est alors disponible dans votre sélection. Les données
            servent au système de recommandation pour trouver des films similaires. Avec par exemple, les mêmes acteurs,
            réalisateurs, compositeurs ou bien des genres et mots-clés similaires.
        </p>

        <p>
            Une fois cette étape effectué et validé, le site vous propose des recommandations de films, triés et en
            rapport avec votre sélection. Chaque film dispose d’une fiche détaillée contenant différentes
            informations comme le synopsis, la bande-annonce, etc
        </p>

        <p>
            De plus, vous pouvez vous inscrire pour sauvegarder un bon film à voir plus tard.
        </p>
    </div>
</div>

<div class="banner-0">
    <div class="container grid-xl">

        <h3>Pourquoi On Regarde Quoi est plus performant que les autres sites de recommandation de film ?</h3>
        <p>
            La plupart des sites de recommandations n’utilisent pas d’intelligence artificielle pour trouver des
            suggestion
            mais plutôt un tri en fonction des films populaires et appréciés par une majorité de
            personnes.
        </p>
        <p>

            On Regarde Quoi ce soir est capable au fur et à mesure de vos choix, d’apprendre et ainsi d'affiner
            les suggestions personnalisées et de trouver un film à voir. Et peut-être votre de
            découvrir votre prochain coup de coeur au cinéma.
        </p>

    </div>
</div>

<div class="banner-0">
    <div class="container grid-xl">

        <h3>Comment utiliser la recommandation personnalisée ?</h3>
        <p>
            On regarde quoi ne nécessite pas d'inscription. Mais il est recommandé de vous enregistrer pour
            profiter pleinement des fonctionnalités du site de suggestion. De plus, c’est totalement gratuit et
            sans
            aucune publicité.
        </p>
        <p>

            Il suffit de vous rentre dans le menu ‘film’ et de commencer la sélection pour trouver un film à
            voir ce soir.
        </p>
    </div>
</div>

<footer>
    % include('template/base/footer.html')
</footer>

</body>
</html>